 
body{
	background-color: #FA8BFF;
	background-image: linear-gradient(to right, #f798fc 0%, #2bf8ff 52%, #5cf983 90%);
	
}
ul{
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 27px auto 0;
	background: rgba(255,255,255,.19);  
	backdrop-filter: blur(13.1px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  	position: relative;
  	width: 700px;
  	height: 50px;

}
li{
	float: left;
}
li a{
	color: black;
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 15px 60px;
	text-decoration: none;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.intro{
	padding: 0;
	overflow: hidden;
	margin: 27px auto 0;
	background: rgba(255,255,255,.19);  
	backdrop-filter: blur(13.1px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
  	position: relative;
  	width: 700px;
  	height: 50px;
}
